.featured-image {
    width: 370px;
    height: 220px;
}

.explore-image {
    width: 400px;
    height: 220px;
}

.explorelink {
    color: black;
}

.pheading {
    font-size: 23px;
}

.pcontent {
    font-size: 21px;
}

.ptable  {
    font-size: 19px;
}

.column-header {
    background-color:rgb(223, 246, 255);
}